// Add  Option Error
.add-option-error {
    color: #ff3232;
    font-size: 2rem;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
}

// Add Option
.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

// Add Option Input
.add-option__input {
    background: $media-breakpoint-color;
    border: none;
    border-bottom: .3rem solid darken($brand-color, 10%);
    color: black;
    flex-grow: 1;
    margin: 0 0 $s-size 0;
    padding: $s-size;
}

// Mobile divice UI settings
@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        background: $color-white-transparent;
        margin: 0 $s-size 0 0;
    }
}